<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORMBUDDY | HOME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/home.css">
</head>

<body>
    <header>
        <h1>Form Buddy</h1>
        <nav>
            <ul>
                <li>
                    <a href="/studentlogin" class="button">Student Login</a>
                </li>
                <li>
                    <a href="/teacherlogin" class="button">Teacher Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="background"></div>
        <h1>A tool for monitoring <span>OD (On Duty).</span></h1>
        <p><b>Designed with user-friendly features and comprehensive
            functionalities, <br>it simplifies the task of managing students' on-duty requirements.
        </b></p>
    </main>
    <footer>

    </footer>
</body>

</html>

</html>